$color-base: #333333;
$color-primary: #5caa7b;
$color-secondary: #f36f57;
$color-tertiary: #ffd152;
$color-detail: #bdbdbd;

$color-white: #ffffff;
$color-black: #000000;

/* 7 Shades of Grey */
$color-gray10: #efefef;
$color-gray20: #d6d6d4;
$color-gray40: #bdbdbd;
$color-gray50: #afafaf;
$color-gray60: #8c8d8e;
$color-gray80: #616265;
$color-gray90: #323232;
$color-gray95: #222222;

//Social Colors
$color-twitter: #5eb5e3;
$color-linkedIn: #3158a9;
$color-facebook: #0975a3;
$color-spiceworks: #fc5900;